* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #5381ac;
}


tr a {
  display: flex;
  align-items: center;
  gap: 40px;
}

.row {
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.425);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.cell {
  min-width: 120px;
}

.big-card-icons img {
  height: 25px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small-card {
  display: flex;
  width: 100%;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.699);
  justify-content: space-around;
  background-color: white;
  min-width: 735px;
  border-radius: 10px;
  position: relative;
  height: 130px;
}

.ball-icon {
  height: 20px;
  ;
}

.role-icon {
  width: 50px;
}

.role-box {
  display: flex;
  position: relative;

  align-items: center;
}

.small-card img {
  max-width: 190px;
}

.small-sprite {
  width: 10px;
  height: 110px;
}

.big-card {
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  width: 730px;
  border: 1px rgba(0, 0, 0, 0.274) solid;
  border-radius: 10px;
  padding: 10px;
}

.stat-bar {
  border: 1px solid rgba(0, 0, 0, 0.541);
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  left: 20px;
  width: 70%;
}

table {
  width: 100%;
}

input {
  border-radius: 10px;
}

.stat-bar span {
  font-size: 11px;
  font-weight: 600;
  margin-left: 5px;
}

select {
  border-radius: 10px;
}

.big-poke-sprite {
  display: flex;
  position: relative;
  max-height: 350px;
  max-width: 350px;
  align-self: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  overflow-y: scroll;
  width: 50vw;
  height: 80vh;
  background-color: white;
  margin: 0 auto;
  margin-top: 5vh;
  border-radius: 10px;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: #EE1515;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}


.detail-container {
  height: 80vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}


.icon {
  width: 30px;
}

.comparator {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  gap: 2.5vh;
}

.active {
  transform: translateY(-1.5px);
  color: #FFDE00;
  font-weight: 800;
}

.types-box {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.type-icon {
  height: 30px;
}

.dex-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
}

h1 {
  font-size: 40px;
  color: #2b445c;
}

h3 {
  font-size: 18px;
  border-bottom: solid rgba(0, 0, 0, 0.205) 1px;
  padding: 5px;
  border-radius: 10px;
}

.poke-infos {
  display: flex;
  align-items: center;
  gap: 25px;
}

.zero-results{
  margin-top: 20px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.fav-icon {
  display: flex;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
}

.empty-slot-icon {
  display: flex;
  position: absolute;
  top: 3px;
  left: 40px;
  width: 30px;
}

.star-icon {
  width: 15px;
  margin-left: 10px;
  transform: translateY(3px);
}

.scale-icon {
  width: 15px;
}

@media (max-width: 1024px) {

  /* small desktop */
  .small-sprite {
    display: none;
  }

  tr a {
    gap: 0px
  }

  .role-text {
    display: none;
  }

  .small-card {
    justify-content: start;
    gap: 70px;
    padding-left: 40px;
    width: 30px;
  }

  .row {
    display: grid;
    justify-content: start;
    padding-left: 100px;
  }

  .big-card {
    width: 450px;
    font-size: 14px;
    height: 430px;
  }

  .dex-text {
    width: 100%;
  }

  .stat-bar {
    height: 25px;
  }

  .big-poke-sprite {
    height: 200px;
  }

  .big-card .role-text {
    display: none;
  }

  .type-icon {
    height: 20px
  }

  ;

  .poke-name {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

}

@media (max-width: 768px) {

  /* mobile */
  .role-icon {
    display: none;
  }

  .small-card {
    gap: 10px;
    padding-left: 30px;
  }

  .big-card {
    width: 300px;
    height: 400px;
  }

  .big-card .big-poke-sprite {
    height: 120px;
    margin-bottom: 20px;
  }

  .stat-bar * {
    font-size: 1px;
  }

  .poke-infos {
    gap: 0px
  }

  .big-card .poke-name {
    display: none
  }

  .big-card-icons {
    margin-top: 10px;
  }

  .row {
    padding-left: 0px;
  }

}