*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small-card{
  display: flex;
  gap: 20px;
  align-items: center;
}

.small-card img{
  height: 100px;
}

.big-card img{
  height: 400px;
}

a{
  text-decoration: none;
  color: black;
}