*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #5381ac;
}

.small-card{
  display: flex;
  gap: 20px;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.699);
  justify-content: space-around;
}

.small-card *{
  text-align: center;
}

.small-card img{
  height: 100px;
  padding: 10px;
}

.big-card{
  background-color: white;
}

.big-card img{
  height: 400px;
}

a{
  text-decoration: none;
  color: black;
}

.list-container{
  overflow: scroll;
  width: 50vw;
  height: 80vh;
  background-color: white;
  margin: 0 auto;
  margin-top: 5vh;
}

.navbar{
  height: 10vh;
  background-color: #EE1515; 
}

.detail-container {
  width: 65vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 5vh;
}


.icons img{
  font-size: 15px;
  width: 45px;
}

.comparator{
  display: flex;
}